<ion-view hide-back-button="true" title="About Us">
  <ion-content class="has-header">
    <img src="img/about-logo.png" class="boosterLogo" />
    <div class="aboutUsTitle">
      The team & vision
    </div>
    <div class="aboutText">
      The Booster team wants to help you accomplish your goals! Using a collaborative platform that provides a social solution for self discipline, Booster lets you get motivated with the help of your friends & family. Simply have fun socializing while achieving your goals!
      <br /> Get ready to boost your life.
    </div>
    <div class="aboutUsTitle">
      Special Thanks To
    </div>
    <div class="aboutText">
      <ul>
        <li>Itamar Bernstein</li>
        <li>Amir Cohen</li>
        <li>Yuval Shafrir</li>
        <li>Adina Makover
          <li>
            <li>Amir Makover</li>
            <li>Tal Makover</li>
            <li>Neita Rubinstein</li>
            <li>Ram Uritski</li>
            <li>Adriana Yagev</li>
            <li>Ariela Vituli</li>
            <li>Dana Zarmon</li>
            <li>Yaniv Makover</li>
            <li>Ofer Yagev</li>
            <li>Roy Michael Shefy</li>
            <li>Mark Halabeki</li>
            <li>Vincent Dascher</li>
            <li>Daniel Geven</li>
            <li>Omer Shafrir</li>
            <li>Carmel Cappon</li>
            <li>Adit Siman-Tov</li>
            <li>Sara Abel</li>
            <li>Asaf David</li>
            <li>Stav Yagev</li>
            <li>Tomer Turgeman</li>
            <li>Zachi Zach</li>
            <li>Aviram Arbel</li>
            <li>Motty Simantov</li>
            <li>Shlomy Kattan</li>
            <li>Neta Rubinstein</li>
      </ul>
    </div>
    </div>
  </ion-content>
</ion-view>
