<ion-view hide-back-button="false" title="{{mytitle}}">
  <ion-content class="has-header" style="height:80%;">
    <ion-list>
      <ion-item ng-repeat="comment in comments">
        <img id="profile-pic" src="{{comment._ProfileModel.PicUrl}}" class="circular" style="width:10%;"></img>
        <!-- <img src="{{comment._ProfileModel.PicUrl}}" />  -->
        <b>{{comment._ProfileModel.Name}}</b>: {{comment._SelfieComment.Comment}}
        <br> {{comment._SelfieComment.DateTime | date:"EEE, MMM dd HH:mm a"}}
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="haveMoreDataToLoad()" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <form ng-submit="submit()" class="bottom" style="height:15%;">
    <pre>
    <!-- Enter text and hit enter: -->
    <input type="text" placeholder="Write a Comment..." ng-model="text" name="text" class="inline"/><input type="submit" id="submit" value="Submit" class="inline"/>
    <!-- <pre>comments -->
    </pre>
  </form>
</ion-view>
