<!-- comment row {{comment}}
<div class="row">
  <div class="col-25">
    <img id="profile-pic" src="{{comment._ProfileModel.PicUrl}}" class="circular" style="width:100%;"></img>
  </div>
  <div class="col-50">
    <br> {{comment._SelfieComment.Comment}}
    <br> {{comment._SelfieComment.DateTime}} {{comment._ProfileModel}}
  </div>
  <div class="col-25">
    1d
  </div>
</div>
<div class="row">
  <div class="col-75 col-offset-25">
    {{comment._ProfileModel.Level}} * {{comment._ProfileModel.LikesTotal}}
  </div>
</div>
 -->
