<ion-view hide-back-button="false" title="Choose Booster">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header" ng-init="getFriends();">
    <!-- Choose a Friend to Boost you! -->
    <ion-list>
      <ion-item ng-repeat="user in friends">
        <ba-user-row user="user"></ba-user-row>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
