<!-- <div class="row">
  <div>
    <div>
      <img src="img/goal-completed/comment_icon.png" class='icon-width-px'></img>
    </div>
  </div>
  <div class="col">
    <div ng-repeat="comment in selfies[0].ListSelfieComment | limitTo: 2 ">
      <b>{{comment._ProfileModel.Name}}</b> {{comment._SelfieComment.Comment}}
    </div>
    <a href="#/app/comments/{{sid}}">
      <div>View all {{comment.TotalComments}} comments</div>
    </a>
  </div>
</div>
 -->
<div class="row">
  <div>
    <div class="margin-left">
      <img src="img/goal-completed/comment_icon.png" id="comment-icon-width-px"></img>
    </div>
  </div>
  <div class="col" class="margin-left">
    <div ng-repeat="comment in comments.Comments | limitTo: -2 ">
      <!-- <div ng-repeat="comment in selfies[0].ListSelfieComment | limitTo: -2 "> -->
      <div><span class='textColor'>{{comment._ProfileModel.Name}}</span> {{comment._SelfieComment.Comment}}</div>
    </div>
    <a id="allCommentsText" href="#/app/photo/{{sid}}/comments">view all {{comment.TotalComments}} comments</div>
  </div>
</div>
