<div class='goal-up-box pad'>
  <img src='{{item.Boost.RequestPicUrl}}' class='circular goal-up-pic' />
  <div class="goal-up-box-text">
    <div class='left'>
      <div>Title: {{item.Boost.Text}}</div>
      <div class='color-bt'>{{item.Boost.RequestUserName}}</div>
    </div>
    <div ng-show="isMyGoal()">
      <img class='right top goal-up-camera' src='img/take_selfie_off.png' ng-click="takePhoto()">
    </div>
    <div ng-show="!isMyGoal()">
      <img class='right top goal-up-camera' src='img/goal-upcoming/boost_btn.png' ng-click="sendBoost()">
    </div>
    <div class='right bottom goal-up-event-date color-green'>{{item.Boost.EventDateString}}</div>
  </div>
</div>
