<div ng-show="showWorldFilter()" id="top-bar-background">
  <ba-top-bar></ba-top-bar>
</div>
<ion-content class="has-header" style="margin-top:{{topTabsHeight}}px;" hide-back-button="true">
  <!--   <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
  </ion-refresher> -->
  <ion-list>
    <!-- goals.length {{goals.length}} -->
    <ion-item ng-repeat="item in goals">
      <!-- goals item.Boost.BoostId {{item.Boost.BoostId}} -->
      <ba-goal item="item"></ba-goal>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="1%">
  </ion-infinite-scroll>
</ion-content>
