<ion-view hide-back-button="true" title="Review">
  <ion-content class="has-header" hide-back-button="false">
    <div class='goal-done-box pad'>
      <img src='{{item.UserPicUrl}}' class='circular goal-done-user-pic' />
      <div class='goal-up-box-text center'>
        <div class='center'>
          <div class='color-bt inline'>{{item.UserName}}</div>
          <div class='inline'> {{item.Type}} by </div>
          <br/>
          <div class='color-bt inline'>{{item.RequestUserName}}</div>
        </div>
      </div>
    </div>

    <ba-image-new></ba-image-new>

    <ba-likes-teaser></ba-likes-teaser>

    </div>
    <div>
      <img src="img/goal-completed/privacy_world.png" class="icon-width-px right"></img>
    </div>

    <ba-comments-teaser-new></ba-comments-teaser-new>

    <div class="row">
      <div class="margin-left">

        <ba-like-button-new></ba-like-button-new>

        <a href="#/app/photo/{{sid}}/comments">
          <img class="goal-done-comment-btn">
        </a>
      </div>
      <div class="col-20">
        <img src="img/goal-completed/f-share.png" class="shareBtn"></img>
      </div>
    </div>

  </ion-content>
</ion-view>
