<div class='goal-done-box pad'>
  <img src='{{item.Boost.UserPicUrl}}' class='circular goal-done-user-pic' />
  <div class='goal-up-box-text center'>
    <div class='center'>
      <div class='color-bt inline'>{{item.Boost.UserName}}</div>
      <div class='inline'>was boosted by </div>
      <br/>
      <div class='color-bt inline'>{{item.Boost.RequestUserName}}</div>
    </div>
  </div>
</div>

<ba-images selfies="item.ListSelfieCommentsLikes" ng-init="update();"></ba-images>
