<ion-view hide-back-button="true" title="Intro">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
    Intro screens will go here. For now do FB login
  </ion-content>
</ion-view>
