<div class="padding-bottom:5%;">
  <div class="width100p" ng-init="getSelfieByIndex($index)">
    <img src="data:image/png;base64,{{selfie.ImageData}}" class="width100p" />
  </div>
</div>

<!-- {{selfies[0].ListSelfieUsersLike}} -->
<div class="row" id="boostTextAndDate">
  <div id="feedBoostText" class="margin-left">{{selfie.BoostTitle}}</div>
  <div class="right padR" id="boostDateText">{{selfie.DateTimeString}}</div>
</div>

<a class="row" id="inspiredRow" href="#/app/photo/{{sid}}/likes">
  <div>
    <div class="margin-left">
      <img src="img/goal-completed/inspired-points.png" id="inspired-icon-width-px"></img>
    </div>
  </div>
  <div class='left padR'>

    <ba-likes-num selfie="selfies[0]"></ba-likes-num>

  </div>
  <div>
    <img src="img/goal-completed/privacy_world.png" class="icon-width-px right"></img>
  </div>
</a>

<ba-comments-teaser sid="selfies[0].ListBoostSelfie[0].SelfieId"></ba-comments-teaser>

<div class="row">
  <div class="margin-left">

    <ba-like-button selfie="selfies[0]"></ba-like-button>

    <a href="#/app/photo/{{sid}}/comments">
      <img class="goal-done-comment-btn">
    </a>
  </div>
  <div class="col-20">
    <img src="img/goal-completed/f-share.png" class="shareBtn"></img>
  </div>
</div>
