<div class="padding-bottom:5%;">
  <div class="width100p">
    <img src="data:image/png;base64,{{selfie.ImageData}}" class="width100p" />
  </div>
</div>

<div class="row" id="boostTextAndDate">
  <div id="feedBoostText" class="margin-left">{{selfie.BoostTitle}}</div>
  <div class="right padR" id="boostDateText">{{selfie.DateTimeString}}</div>
</div>

<a class="row" id="inspiredRow" href="#/app/photo/{{sid}}/likes">
  <div>
    <div class="margin-left">
      <img src="img/goal-completed/inspired-points.png" id="inspired-icon-width-px"></img>
    </div>
  </div>
  <div class='left padR'>
</a>
