<!-- likers {{likers[0]._ProfileModel}} -->
<ion-view hide-back-button="false" title="{{mytitle}}">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="liker in likers">
        <ba-like-row></ba-like-row>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="haveMoreDataToLoad()" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
