<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="dark">
    <ion-header-bar class="bar-stable" id="menuHeader">
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close class="menu-item" id="menuFirstRow">
          <a href="#/app/goals-world">
            <img class="menu-btn menu-home-on">
          </a>
        </ion-item>
        <ion-item nav-clear menu-close class="menu-item">
          <a href="#/app/profile " style="position: relative; left: 0; top: 0;">
            <img class="menu-btn " src="img/Menu/menu-profile-on.png " id="profile-btn-background">
            <img id="menu-profile-img" class="circular">
          </a>
        </ion-item>
        <ion-item nav-clear menu-close class="menu-item">
          <a href="#/app/invite ">
            <img class="menu-btn menu-invite-on">
          </a>
        </ion-item>
        <ion-item nav-clear menu-close class="menu-item">
          <a href="#/app/about ">
            <img class="menu-btn " src="img/Menu/menu-about-on.png ">
          </a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
