<ion-view hide-back-button="true" title="Notifications">
  <ion-content class="has-header" style="margin-top:{{topTabsHeight}}px;" hide-back-button="true">
    <ion-list>
      <ion-item ng-repeat="item in items" ng-show="item.Text != 0">

        <div ng-click="goToItem($index)">
          <img src='{{item.BoosterPicUrl}}' class='circular goal-up-pic' />
          <div class="goal-up-box-text">
            <div class='left'>
              <div>{{item.BoosterFirstName}}, {{item.Type}}</div>
              <div class='color-bt'>{{getText($index)}}</div>
            </div>
            <div class='right bottom goal-up-event-date color-green'>{{item.CreatedDate | date : "EEE, MMM dd HH:mm a" }}</div>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
