<ion-view hide-back-button="false" title="Share Your Success">
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="cancel()">
      Cancel
    </button>
  </ion-nav-buttons>
  <!-- <ion-content class="has-header"> -->
  <!-- <div style="width: 100%;height: 100%;overflow: scroll;"> -->
  <div class="upper">
    <div id="SSboostTitle">{{boost.Text}}</div>
    <div>
      <section id="selfieSection">
        <ba-photo-to-share></ba-photo-to-share>
        <!-- <div id="SSboostSelfie"></div> -->
        <div id="SSboostCommentDiv">
          <textarea id="SSboostComment" rows="5" cols="30" ng-model="taValue" placeholder=" Add a comment"></textarea>
        </div>
      </section>
      <img id="SSdividerLine">
    </div>
    <img id="SSboostGoalAchieved">
  </div>
  <div class="lower">
    <span id="SStitle">You were boosted by:</span>
    <img class="myRound" id="SSboosterProfilePic" src="{{boost.RequestPicUrl}}">
    <span id="SSBoosterName">{{boost.RequestUserName}}</span>
  </div>
  <div class="sfooter">
    <img id="SSdividerLine2">
  </div>
  <div id="postDiv">Post to {{privacySetting}}</div>
  <section id="buttonSection">
    <div id="SSbackgroundButtons">
      <ba-share-privacy></ba-share-privacy>
    </div>
    <img src="" id="shareBtn" ng-click="sendPhoto();">
    <!--     <div id="worldSection" ng-class="getFilterClasss()"></div>
    <div id="friendsSection" ng-class="getFilterClasss()"></div>
 -->
  </section>
  <!-- <span>Post to:</span> -->
  <!-- </div> -->
  <!-- </ion-content> -->

</ion-view>
