<ion-view hide-back-button="true" title="Profile">
  <ion-content class="has-header">
    <div id="top_profile">
      <img id="profile_background" />
      <img id="profile_img" class="circular" style="background: url('{{picUrl()}}');" />
      <div id="name_div">
        <span id="profile_name">{{name()}}</span>
      </div>
    </div>
    <img id="star_img">
    <br/>
    <span id="credits">{{points()}}</span>
    <br/>
    <br/>
    <span id="buttom_text">Inspiration Points </span>
    <br/>
    <br/>
    <span id="buttom_text2">*The number of people inspired</span>
    <br/>
    <span id="buttom_text3">by your success</span>

    <!-- Profile FbToken={{FbToken}} -->
    <!-- <br> profile.result={{profile}} -->
  </ion-content>
</ion-view>
