<ion-view hide-back-button="true" title="New Goal Summary">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div>
      <h3 class="newBoostTitle">Your Goal:</h3>
      <div class="setGoalBtn" ng-click="openGoalPopup()">{{boost.text}}</div>
    </div>
    <div>
      <h3 class="newBoostTitle">Time:</h3>
      <div class="setDateBtn" ng-click="showDatetime()">{{boost.datetime}}</div>
    </div>
    <div>
      <h3 class="newBoostTitle">Your Booster:</h3>
      <a href="#/app/choose-booster">
        <div class="chooseBoosterBtn" ng-click="chooseBooster();">
          <img id="boosterImg" src="{{boost.booster.PicUrl}}" alt="Boost">
          <div class="chooseBoosterText">{{boost.booster.FirstName}} {{boost.booster.LastName}}</div>
        </div>
      </a>
      <img id="round-button-circle" src="img/NewGoal/summary-send-btn-on.png" ng-click="sendBoost();"></img>
    </div>
  </ion-content>
</ion-view>


<!-- <ion-view hide-back-button="true" title="New Goal Summary">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div>
      <h3 class="newBoostTitle">Your Goal:</h3>
      <div class="setGoalBtn" ng-click="openGoalPopup()">{{boost.text}}</div>
    </div>
    <div>
      <h3 class="newBoostTitle">Time:</h3>
      <div class="setDateBtn" ng-click="showDatetime()">{{boost.datetime}}</div>
    </div>
    <div>
      <h3 class="newBoostTitle">Your Booster:</h3>
      <a href="#/app/choosebooster">
        <div class="chooseBoosterBtn">
          <img id="boosterImg" src="{{boost.booster.picUrl}}" alt="Boost">
          <div class="chooseBoosterText">{{boost.booster.FirstName}} {{boost.booster.LastName}}</div>
        </div>
      </a>
    </div>
  </ion-content>
  <div id="round-button-circle" ng-click="addBoost()" ng-class="getClass();">
  </div>
</ion-view>
 -->
