<div style="position:relative;">
  <img class="privacyButton" ng-class="getWorldClass()" ng-click="setPublic(true);">
  <img class="privacyButton" ng-class="getFriendsClass()" ng-click="setPublic(false);">
</div>
