<!-- {{user}} -->
<!-- <div class="line"></div> -->
<div style="position:relative; height:50px;" ng-click="clickedBooster()">
  <img src='{{user.PicUrl}}' class='circular goal-up-pic' />
  <div>
    <div class='left'>
      <div class='color-bt'>{{user.FirstName}} {{user.LastName}}</div>
      <div class='color-bt'>{{user.Points}}</div>
    </div>
  </div>
</div>
