<ion-list>
  <ion-item ng-repeat="item in list_completed">
    <div class="line"></div>
    <div class='goal-up-box pad'>
      <img src='{{item.RequestPicUrl}}' class='circular goal-up-pic' />
      <div class="goal-up-box-text">
        <div class='left'>
          <div>Title: {{item.Title}}</div>
          <div class='color-bt'>{{item.RequestUserName}}</div>
        </div>
        <img class='right top goal-up-camera' src='img/take_selfie_off.png'>
        <div class='right bottom goal-up-event-date color-green'>{{item.EventDateString}}</div>
      </div>
    </div>
  </ion-item>
</ion-list>
<!-- <ion-infinite-scroll></ion-infinite-scroll> -->
<ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()">
</ion-infinite-scroll>
