<ion-view hide-back-button="false" title="Add Goal">
  <!--   <ion-nav-buttons side="primary">
    <button class="button" ng-click="cancel()">
      Cancel
    </button>
  </ion-nav-buttons>
 -->
  <ion-content class="has-header">
    <div>
      <h3 class="newBoostTitle">Your Goal:</h3>
      <div class="setGoalBtn" ng-click="openGoalPopup()">{{boost.text}}</div>
    </div>
    <div>
      <h3 class="newBoostTitle">Time:</h3>
      <div class="setDateBtn" ng-click="showDatetime()">{{boost.datetime}}</div>
    </div>
    <div>
      <h3 class="newBoostTitle">Your Booster:</h3>
      <a href="#/app/choosebooster">
        <div class="chooseBoosterBtn" ng-click="chooseBooster();">
          <img ng-class="getBoosterPicClasses();" src="{{boost.booster.PicUrl}}">
          <div class="chooseBoosterText">{{getBoosterName()}}
          </div>
        </div>
      </a>
    </div>
  </ion-content>
  <add-boost-btn></add-boost-btn>
</ion-view>
