<ion-view hide-back-button="true" title="Share Your Success">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <!-- <ion-content class="has-header"> -->
  <!-- <div style="width: 100%;height: 100%;overflow: scroll;"> -->
  <div class="upper">
    <div id="SSboostTitle">Go to gym</div>
    <div>
      <section id="selfieSection">
        <div id="SSboostSelfie"></div>
        <div id="SSboostCommentDiv">
          <textarea id="SSboostComment" rows="5" cols="30" placeholder=" Add a comment"></textarea>
        </div>
      </section>
      <img id="SSdividerLine">
    </div>
    <img id="SSboostGoalAchieved">
  </div>
  <div class="lower">
    <span id="SStitle">You were boosted by:</span>
    <img id="SSboosterProfilePic">
    <span id="SSBoosterName">Rotem Sela</span>
  </div>
  <div class="sfooter">
    <img id="SSdividerLine2">
  </div>
  <div id="postDiv">Post to:</div>
  <section id="buttonSection">
    <div id="SSbackgroundButtons">
      <ba-share-privacy></ba-share-privacy>
    </div>
    <img src="" id="shareBtn">
    <!--     <div id="worldSection" ng-class="getFilterClasss()"></div>
    <div id="friendsSection" ng-class="getFilterClasss()"></div>
 -->
  </section>
  <!-- <span>Post to:</span> -->
  <!-- </div> -->
  <!-- </ion-content> -->

</ion-view>
