<!-- <ion-view view-title="TABS"> -->
<!--   <ion-content>
  </ion-content>
 -->
<ion-tabs id="ba-ion-tabs">

  <ion-tab title="Feed" icon-on="tab-feed-on" icon-off="tab-feed-off" ng-init="setState('app.goals-world');" on-select="setState('app.goals-world');">
    <ba-goals who="Friends" ng-if="!getIsPublic()"></ba-goals>
    <ba-goals who="World" ng-if="getIsPublic()"></ba-goals>
  </ion-tab>

  <ion-tab title="My Goals" icon-on="tab-mygoals-on" icon-off="tab-mygoals-off" ng-init="setState('app.goals-my');" on-select="setState('app.goals-my');">
    <ba-goals who="My"></ba-goals>
  </ion-tab>

  <a href="#/app/new-goal-summary">
    <img src="../img/BottomBar/tab-goal-btn.png" class="addBoostBtnImg" />
  </a>

  <ion-tab title="Boostee's Goals" icon-on="tab-friendsgoals-on" icon-off="tab-friendsgoals-off" ng-init="setState('app.goals-boostees');" on-select="setState('app.goals-boostees');">
    <ba-goals who="Boostees"></ba-goals>
  </ion-tab>

  <ion-tab title="Notifications" icon-on="tab-notifications-on" icon-off="tab-notifications-off">
    <ba-notifications></ba-notifications>
  </ion-tab>

</ion-tabs>

<!-- </ion-view> -->
