/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #3366ff !default;
$positive:                        #3366ee !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive: #477ebb !default;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic.scss";
// your variable changes can go here
//@import "ionic.app.scss";
// your slick styles can go here...
// when Sass processes, both Ionic's Sass and your Sass will combine
// into one file and saved in your app's directory as css/app.css
// -----------------------------  FONTS  --------------------------------
@font-face {
  font-family: 'robotobold';
  src: url('../lib/ionic/fonts/roboto-bold-webfont.eot');
  src: url('../lib/ionic/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/ionic/fonts/roboto-bold-webfont.woff') format('woff'), url('../lib/ionic/fonts/roboto-bold-webfont.ttf') format('truetype'), url('../lib/ionic/fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('../lib/ionic/fonts/roboto-light-webfont.eot');
  src: url('../lib/ionic/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/ionic/fonts/roboto-light-webfont.woff') format('woff'), url('../lib/ionic/fonts/roboto-light-webfont.ttf') format('truetype'), url('../lib/ionic/fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../lib/ionic/fonts/roboto-regular-webfont.eot');
  src: url('../lib/ionic/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/ionic/fonts/roboto-regular-webfont.woff') format('woff'), url('../lib/ionic/fonts/roboto-regular-webfont.ttf') format('truetype'), url('../lib/ionic/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
// header 
// -----------------------------  SASS VARS  --------------------------------
$color-bb: #477ebb;
$color-green: #48be3d;
$tab-on: #080d14;
$tab-off: #1b3047;
$pad: 3%;
$pad1: 1%;
$icon-px: 10px;
$goal-up-box-height: 80px;
$goal-done-box-height: 60px;
$content-bg-color: #ffffff;
$add-goal-width: 35%;
$radius: 60%;
$radius2: $radius/2;
$font-weight: normal;
$font-family: 'robotobold';
//------------------------------  Menu  --------------------------------
.dark {
  background-image: url('../img/Menu/black.png');
}
#menuHeader {
  background-image: url('../img/Menu/menu-logo.png');
  width: 101%;
  height: 18%;
  margin-left: -1%;
  margin-top: -1%;
  margin-right: -1%;
  background-size: 100%;
  background-repeat: no-repeat;
  //padding-bottom: 100%;
}
#menuFirstRow {
  margin-top: 19%;
}
.menu-item {
  padding: 0% 0% 0% 0% !important;
  margin-bottom: -1%;
  //  margin-left: -1.5%;
}
.menu-home-on {
  background: url(../img/Menu/menu-home-on.png);
  padding-bottom: 20%;
}
.menu-home-off {
  background: url(../img/Menu/menu-home-off.png);
  padding-bottom: 20%;
}
.menu-invite-on {
  background: url(../img/Menu/menu-invite-on.png);
  padding-bottom: 20%;
}
.menu-invite-off {
  background: url(../img/Menu/menu-invite-off.png);
  padding-bottom: 20%;
}
.menu-btn {
  //background: url(../img/Menu/menu-home-on.png);
  width: 100%;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 1%;
  margin-top: 0%;
  position: relative;
  top: 0;
  left: 0;
}
#profile-btn-background {
  position: relative;
  top: 0;
  left: 0;
}
#menu-profile-img {
  background: url(../img/ShareBoost/morning_picdump.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 15%;
  padding-bottom: 15%;
  position: absolute;
  margin-left: 3%;
  margin-top: 3%;
  //top: 30px;
  left: 22px;
} // -----------------------------  TABS  --------------------------------
// TODO : fixes
#ba-ion-tabs {
  margin-left: -1.5%;
}
.tabs .tab-item {
  max-width: none;
  .icon {
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-color: black;
    background-size: contain;
    &.tab-feed-on {
      background-image: url('../img/BottomBar/tab-feed-on.png');
      background-color: $tab-on;
    }
    &.tab-feed-off {
      background-image: url('../img/BottomBar/tab-feed-off.png');
      background-color: $tab-off;
    }
    &.tab-mygoals-on {
      background-image: url('../img/BottomBar/tab-mygoals-on.png');
      background-color: $tab-on;
    }
    &.tab-mygoals-off {
      background-image: url('../img/BottomBar/tab-mygoals-off.png');
      background-color: $tab-off;
    }
    //&.tab-goal-btn {
    //    background-image: url('../img/BottomBar/tab-goal-btn.png');
    //    background-color: $tab-off;
    //}
    &.tab-friendsgoals-on {
      background-image: url('../img/BottomBar/tab-friendsgoals-on.png');
      background-color: $tab-on;
    }
    &.tab-friendsgoals-off {
      background-image: url('../img/BottomBar/tab-friendsgoals-off.png');
      background-color: $tab-off;
    }
    &.tab-notifications-on {
      background-image: url('../img/BottomBar/tab-notifications-on.png');
      background-color: $tab-on;
    }
    &.tab-notifications-off {
      background-image: url('../img/BottomBar/tab-notifications-off.png');
      background-color: $tab-off;
    }
  }
}
.addBoostBtnImg {
  background-image: url('../img/BottomBar/tab-goal-btn.png');
  //margin-top: 400px;
  margin-top: -10px;
  width: 60px;
  left: 40%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 999;
  padding-bottom: 100%;
}
// -------------------------------  GENERAL  ----------------------------------
.bold {
  font-weight: bold;
}
.width100p {
  width: 110%;
  margin-left: -9px;
}
.icon-width-px {
  width: $icon-px;
  margin-top: 5px;
}
.icon-height-px {
  height: $icon-px;
}
.inline {
  display: inline-block;
  margin-left: 4px;
  font-size: 12pt;
  color: #333C48;
}
.line {
  height: 1px;
  background: black;
  width: 100%;
  font-size: 1px;
  background-color: #f0f0f0;
}
#inspiredRow {
  margin-top: 0px !important;
}
.pad {
  padding: $pad $pad $pad $pad;
}
.pad1 {
  padding: $pad1 $pad1 $pad1 $pad1;
}
.padT {
  padding-left: $pad;
}
.padR {
  padding-left: $pad;
}
.padB {
  padding-left: $pad;
}
.padL {
  padding-left: $pad;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.center-text {
  text-align: center;
  veritical-align: middle;
}
.top {
  position: absolute;
  top: 0px;
}
.right {
  position: absolute;
  right: 10px;
}
.bottom {
  position: absolute;
  bottom: 0px;
}
.myRound {
  //height: $radius;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  //background: url(http://link-to-your/image.jpg) no-repeat;
}
.circular {
  float: left;
  //height: $radius;
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  width: 15%;
  margin-left: -15px;
  //background: url(http://link-to-your/image.jpg) no-repeat;
}
//------------------------------  Top Bar  -----------------------------------
#top-bar-background {
  position: relative;
  background: url(../img/TopBar/topbar_base.png);
  //background-size: 110%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 37px;
  margin-top: 64px;
  z-index: 999;
}
.topBarButton {
  height: 40px;
  display: inline-block;
  padding-bottom: 40px;
  width: 49%;
  margin-top: 1%;
  //vertical-align: middle;
}
img.worldTabOn {
  background: url(../img/TopBar/world-on.png);
  float: left;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 1%;
}
img.worldTabOff {
  background: url(../img/TopBar/world-off.png);
  float: left;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 1%;
}
img.friendsTabOn {
  background: url(../img/TopBar/friends-only-on.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 1%;
}
img.friendsTabOff {
  background: url(../img/TopBar/friends-only-off.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 1%;
} //------------------------------  Share Screen -------------------------------
#SSboostTitle {
  margin-top: 25%;
  margin-left: 5%;
  font-size: 13pt;
}
.upper, .lower, .sfooter {
  position: absolute;
  left: 0;
  right: 0;
  //overflow: scroll;
}
.upper {
  top: 0;
  height: 33%;
}
.lower {
  top: 30%;
  height: 33%;
}
.sfooter {
  bottom: 0;
  height: 33%;
}
section#selfieSection {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
div#SSboostSelfie {
  background: url(../img/ShareBoost/morning_picdump.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 40%;
  height: 180px;
  float: left;
}
div#SSboostCommentDiv {
  background: url(../img/ShareBoost/comment-box.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin-left: 42%;
  height: 300px;
}
#SSboostGoalAchieved {
  background: url(../img/ShareBoost/goal-achieved-badge.png);
  position: absolute;
  top: 100%;
  margin-left: 30%;
  width: 24%;
  padding-bottom: 100%;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
#SSboostComment {
  background: url(../img/ShareBoost/comment-box.png);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 39%;
}
#SSdividerLine {
  background: url(../img/ShareBoost/divider-line.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 90%;
  padding-bottom: 100%;
  margin-top: -100%;
  margin-left: 5%;
  margin-right: 5%;
}
#SStitle {
  margin-left: 25%;
  position: absolute;
  margin-top: 38%;
  font-size: 13pt;
}
#SSboosterProfilePic {
  //background: url(../img/ShareBoost/sample_pic.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  //padding-bottom: 100%;
  width: 25%;
  margin-top: 48%;
  margin-left: 35%;
}
#SSBoosterName {
  margin-left: -26%;
  text-align: center;
  position: absolute;
  margin-top: 75%;
  font-size: 14pt;
  font-family: 'robotobold';
}
#SSdividerLine2 {
  background: url(../img/ShareBoost/divider-line.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 90%;
  padding-bottom: 100%;
  margin-top: -30%;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
}
#postDiv {
  margin-top: 140%;
  margin-left: 5%;
  font-size: 13pt;
}
section#buttonSection {
  //margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
#SSbackgroundButtons {
  background: url(../img/ShareBoost/privacy-background.png);
  background-size: 110%;
  background-position: center center;
  background-repeat: no-repeat;
}
.privacyButton {
  height: 40px;
  display: inline-block;
  padding-bottom: 40px;
  width: 49%;
  margin-top: 1%;
  //vertical-align: middle;
}
img.worldSectionOn {
  background: url(../img/ShareBoost/privacy-world-on.png);
  float: left;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 1%;
}
img.worldSectionOff {
  background: url(../img/ShareBoost/privacy-world-off.png);
  float: left;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 1%;
}
img.friendsSectionOn {
  background: url(../img/ShareBoost/privacy-friends-on.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 1%;
}
img.friendsSectionOff {
  background: url(../img/ShareBoost/privacy-friends-off.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 1%;
}
#shareBtn {
  background: url(../img/ShareBoost/share-button.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 90%;
  padding-bottom: 100%;
  //margin-top: -30%;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}
// -----------------------------  FEED SCREEN  -------------------------------
.margin-left {
  margin-left: -12px;
}
.like-button-off {
  background-image: url('../img/goal-completed/get-inspired-off.png');
  content: url('../img/goal-completed/get-inspired-off.png');
}
.like-button-on {
  background-image: url('../img/goal-completed/get-inspired-on.png');
  content: url('../img/goal-completed/get-inspired-on.png');
}
.color-bb {
  background-color: $color-bb;
}
.color-bt {
  color: $color-bb;
}
.color-green {
  color: $color-green;
}
goal-done-user-pic {
  height: $radius2;
}
goal-up-user-pic {
  height: $radius;
}
.goal-up-box {
  position: relative;
  height: $goal-up-box-height;
}
.goal-done-box {
  position: relative;
  height: $goal-done-box-height;
}
.goal-up-box-text {
  //float: left;
  margin-left: $pad;
  font-family: $font-family;
  font-weight: $font-weight;
}
.goal-up-title {
  float: left;
}
.goal-up-user-name {
  float: left;
}
.goal-up-camera {
  background-image: url('img/take_selfie_off.png');
  width: 30px;
  margin: $pad $pad 0% 0%;
}
.goal-up-event-date {
  float: bottom;
  margin: 0% $pad $pad 0%;
}
.goal-done-top {
  height: 60px;
}
.goal-done-comment-btn {
  background-image: url('../img/goal-completed/comment_btn.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: url('../img/goal-completed/comment_btn.png');
  margin-left: 1%;
  width: 50%;
}
.goal-done-box-pad {
  font-size: 10pt;
}
#boostDateText {
  font-size: 8pt;
}
#boostTextAndDate {
  margin-top: -6px;
}
#feedBoostText {
  font-family: robotobold;
  color: #333C48;
  position: relative;
  display: inline;
  white-space: pre-wrap;
  width: 80%;
}
#inspired-icon-width-px {
  width: 18px;
}
#inspiredNumText {
  font-family: 'robotobold';
  font-size: 13pt;
  color: #477ebb;
}
#comment-icon-width-px {
  width: 18px;
  margin-top: 5px;
}
.textColor {
  font-family: 'robotobold';
  font-size: 13pt;
  color: #477ebb;
}
#allCommentsText {
  font-family: 'robotobold';
  font-size: 13pt;
  color: #808080;
}
#inspiredBtn {
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 100px;
}
.shareBtn {
  width: 55%;
  margin-left: -4px;
}
//------------------------------------New Goal Summary-----------------------------------------------
.setGoalBtn {
  background: url(../img/NewGoal/goal-summary-box.png);
  margin-top: -8px;
  margin-left: 5%;
  padding-bottom: 13px;
  width: 90%;
  height: 50px;
  padding-top: 13px;
  padding-left: 50px;
  font-size: 13pt;
  font-weight: normal;
  font-family: 'robotolight';
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.newBoostTitle {
  margin-top: 15px;
  margin-left: 15px;
  font-weight: normal;
  font-family: 'robotolight';
  font-size: 13pt;
}
.setDateBtn {
  background: url(../img/NewGoal/time_summary_box.png);
  margin-top: -8px;
  margin-left: 5%;
  padding-bottom: 13px;
  width: 90%;
  height: 50px;
  padding-top: 13px;
  padding-left: 50px;
  font-size: 13pt;
  font-weight: normal;
  font-family: 'robotolight';
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.chooseBoosterBtn {
  background: url(../img/NewGoal/booster-summary-box.png);
  margin-top: -8px;
  margin-left: 5%;
  padding-bottom: 13px;
  width: 90%;
  height: 80px;
  padding-top: 13px;
  padding-left: 50px;
  font-size: 13pt;
  font-weight: normal;
  font-family: 'robotolight';
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.boosterImg {
  background: url(../img/NewGoal/choose-friend.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  width: 25%;
  margin-left: -40px;
  margin-top: -7px;
  float: left;
  //border-radius: 50%;
}
.boosterImgProfilePic {
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 25%;
  margin-left: -40px;
  margin-top: -7px;
  float: left;
  //border-radius: 50%;
}
.chooseBoosterText {
  line-height: 40px;
  margin-left: 15%;
  //margin-top: -50px;
}
.add-boost-btn-on {
  background: url(../img/NewGoal/summary-send-btn-on.png);
}
.add-boost-btn-off {
  background: url(../img/NewGoal/summary-send-btn-off.png);
}
#round-button-circle {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  padding-bottom: 100%;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -25%;
}
//-----------------------------------------Pop Up's-----------------------------------------------
//Change placeholder text color
#textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.5;
}
#textarea:-moz-placeholder {
  color: #000000;
  opacity: 0.5;
}
#textarea::-moz-placeholder {
  color: #000000;
  opacity: 0.5;
}
#textarea:-ms-input-placeholder {
  color: #000000;
  opacity: 0.5;
}
.datePicker {
  margin-top: 300px;
}
.popup {
  background-color: transparent;
  width: 90%;
  margin-top: -60%;
  border-width: 0px;
  border-color: transparent;
  ;
  border-style: none;
}
.popup-head {
  padding: 0px 0px;
  border-bottom: 0px;
}
.popup-body {
  margin-top: -40px;
}
.popup popup-showing active {
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}
.backdrop {
  //opacity: 0.99;
  background: url('../img/NewGoal/black.png') no-repeat center center fixed;
}
#closeBtn {
  background: url('../img/NewGoal/x_button.png') no-repeat center center;
  width: 20px;
  height: 20px;
  margin-left: 93%;
  padding-bottom: 8%;
}
.popuptitle {
  background: url('../img/NewGoal/new_goal_title.png');
  height: 50px;
  display: inline-block;
  padding-bottom: 70px;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
#send_btn {
  background: url('../img/NewGoal/ok_btn.png');
  height: 50px;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  //  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  padding-bottom: 60px;
}
#textarea {
  background: url('../img/NewGoal/new_goal_box.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -30px;
  height: 135px;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
  //font-size: 1em;
  padding-left: 4px;
  padding-top: 5px;
}
.datePopuptitle {
  background: url('../img/NewGoal/set_time_title.png');
  height: 50px;
  display: inline-block;
  padding-bottom: 70px;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
#dateBox {
  background: url('../img/NewGoal/set_time_box.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -30px;
  height: 80px;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
}
img.addBoostBtn {
  width: 100px;
  bottom: 20px;
  position: relative;
  margin: 5px 5px 5px 5px;
}
.menuBar {
  //top: -10px;
}
//-------------------------------------------- ABOUT US -----------------------------------------
.boosterLogo {
  width: 90%;
  margin: 10px auto;
  display: block;
  margin-top: 20px;
}
.aboutUsTitle {
  color: #4a87ee;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  font-size: 16px;
  margin-left: 10px;
  font-weight: bold;
}
.aboutText {
  margin-left: 10px;
}
//---------------------------------------- Profile -----------------------------------------------
#top_profile {
  position: relative;
  left: 0;
  top: 0;
  height: 240px;
}
#profile_background {
  background: url('../img/Profile/profile-bg.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
}
#profile_img {
  //  background: url('../img/Profile/sample_pic.png');
  position: absolute;
  top: 40px;
  margin-left: 30%;
  width: 130px;
  background-size: 100%;
  padding-bottom: 130px;
}
#name_div {
  display: table;
  height: 100px;
  text-align: center;
}
#profile_name {
  position: absolute;
  top: 180px;
  transform: translateX(86%);
  font-size: 18pt;
  font-family: robotobold;
  color: white;
  margin-left: 30%;
}
#star_img {
  background: url('../img/Profile/inspiriation-icon.png');
  margin-top: 5px;
  width: 130px;
  height: 130px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 128px;
  margin-left: 35%;
}
#credits {
  position: absolute;
  color: #477ebb;
  font-size: 30pt;
  font-family: robotobold;
  margin-left: 28%;
}
#buttom_text {
  position: absolute;
  color: #333C48;
  font-size: 16pt;
  font-family: robotoregular;
  margin-left: 26%;
}
#buttom_text2 {
  position: absolute;
  font-size: 13pt;
  font-family: robotolight;
  margin-left: 14%;
}
#buttom_text3 {
  position: absolute;
  font-size: 13pt;
  font-family: robotolight;
  margin-left: 30%;
}
//---------------------------------------- TESTING NEW INFINITE LIST -----------------------------
.li {
  height: 120px;
  border-bottom: 1px solid gray;
}
#fixed {
  height: 400px;
  overflow: auto;
}
//----------------------------------------- LIKES PAGE -------------------------------------------
#profile-pic {
  width: $radius/4;
  height: $radius/4;
}
